[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/copilot.vim"]
	path = .vim/bundle/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/vim-nerdtree-syntax-highlight"]
	path = .vim/bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule ".vim/bundle/markdown-preview.nvim"]
	path = .vim/bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule ".vim/bundle/vim-kitty"]
	path = .vim/bundle/vim-kitty
	url = https://github.com/fladson/vim-kitty
