#################################################################################
#
#
#     ██████╗ ██╗████████╗ ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗
#    ██╔════╝ ██║╚══██╔══╝██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝
#    ██║  ███╗██║   ██║   ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#    ██║   ██║██║   ██║   ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
#    ╚██████╔╝██║   ██║   ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
#     ╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝
#
#
#################################################################################
[user]
	name = micahkepe
	email = micahkepe@gmail.com

[core]
	autocrlf = input
	excludesfile = /Users/micahkepe/.gitignore_global
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF

[alias]
    graph = log --all --graph --decorate --oneline
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[fetch]
	prune = true  # Automatically prune deleted branches when fetching

[init]
	defaultBranch = main

[http]
	postBuffer = 157286400

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[interactive]
	diffFilter = diff-so-fancy --patch
[credential "https://git.overleaf.com"]
	username = micahkepe@gmail.com
	helper = store
