# Sioyek Configuration
# For more information: https://sioyek-documentation.readthedocs.io/en/latest/configuration.html

# Search
super_fast_search 1
search_url_g   https://www.google.com/search?q=
search_url_b   https://search.brave.com/search?q=
search_url_c   https://github.com/search?type=repo&q=

# Startup
startup_commands toggle_synctex; fit_to_page_width;
